<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{daemon}}</string>
    <key>UserName</key>
    <string>{{user}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{bin}}/{{script}}</string>
    </array>
    <key>StartInterval</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>{{logs}}/{{daemon}}.log</string>
    <key>StandardErrorPath</key>
    <string>{{logs}}/{{daemon}}.err</string>
    <key>Debug</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>AbandonProcessGroup</key>
    <true/>
</dict>
</plist>
